.phCollapseClick {
	float: right;
}
.subform-repeatable-group.ph-collapse-hidden div.control-group {
	display: none;
}
.subform-repeatable-group.ph-collapse-hidden {
	padding: 1em;
}

.ph-collapse-title {
	font-weight: bold;
	padding: 1em;
	margin:0;
	background: #ffde7d;
	border-radius: 3px;
	
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50ch;
}


/* Menu */
table.table tr.ph-collapse-hidden-menu th div,
table.table tr.ph-collapse-hidden-menu td div {
	display: none;
}
/* Article */
table.table tr.ph-collapse-hidden-article th div div,
table.table tr.ph-collapse-hidden-article td div div{
	display: none;
}
